@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to the Movie Registration </h1>
    <p>
        <h2>
        <a href="Home/Registration">Click to go to Form </a>.
        </h2>
    </p>
</div>
